<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <button (click)="reset()" type="button" class="btn btn-outline-primary" routerLink="/home">Home</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"><span class="sr-only">(current)</span></a>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item disabled" href="#">Country</a>
            <div>
              <button class="btn btn-info rounded-circle border border-secondary" type="button"
                (click)="setCountry('jp')">jp</button>
              <button class="btn btn-info rounded-circle border border-secondary" type="button"
                (click)="setCountry('fr')">fr</button>
              <button class="btn btn-info rounded-circle border border-secondary" type="button"
                (click)="setCountry('eg')">eg</button>
              <button class="btn btn-info rounded-circle border border-secondary" type="button"
                (click)="setCountry('gb')">gb</button>
              <button class="btn btn-info rounded-circle border border-secondary" type="button"
                (click)="setCountry('ch')">ch</button>
            </div>

            <a class="dropdown-item" href="#">World Press</a>
            <select (change)="filterPaper($event.target.value) ">
              <option *ngFor="let paper of _data.allPapers; let i = index" value="{{paper['id']}}">{{paper['name']}}</option>
            </select>
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline" name="formularioSearch" (ngSubmit)="miFormulario.form.valid && url()"
      #miFormulario="ngForm">

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="detallSearch"
        #inputSearch="ngModel" [(ngModel)]="formData['detallSearch']">

      <button (click)="url()" class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>

    </form>
  </div>
</nav>